@import 'boilerplate.less';

.todo-item {
	margin-top: 5px;

	.clearfix;
}

.todo-item:first-child {
	margin-top: 0;
}

.todo-item .btn-remove-todo {
	float: right;
}

.todo-item.complete {
	background-color: #FFF3C3;
}

.todo-item.ng-leave {
	.animated;
}

.todo-item.ng-leave.ng-leave-active {
	.bounceOutRight;
}

.todo-item.ng-enter {
	.animated;
}

.todo-item.ng-enter.ng-enter-active {
	.bounceInLeft;
}

.actions {
	margin-top: 5px;
}

.actions .btn {
	margin-left: 5px;
}

.actions .btn:first-child {
	margin-left: 0;
}