<div
    class="todo-item"
    ng-repeat="todo in vm.todos | filter:vm.isTodoVisible track by todo.id"
    ng-class="vm.getCssFor(todo)">

    <div class="todo-actions clearfix">
        <div class="todo-content">
            <div class="pull-right">
                <nice-file-uploader
                    on-upload="vm.onTodoFilesUpload"
                    name="todo-files"
                    url="todo.api.fileUpload"
                    disable-upload-btn="todo.isEditing"
                    method="post"></nice-file-uploader>
                <button
                    title="Mark complete"
                    role="toggleTodo"
                    class="btn btn-sm"
                    ng-disabled="todo.isEditing"
                    ng-class="'btn-' + (todo.complete ? 'success' : 'default')"
                    ng-click="vm.toggleComplete(todo)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button
                    title="Delete"
                    role="deleteTodo"
                    class="btn btn-sm btn-danger"
                    ng-disabled="todo.isEditing"
                    ng-click="vm.deleteOne(todo)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div ng-show="todo.isEditing" class="todo-edit pull-left">
                <textarea
                    class="form-control"
                    ng-model="todo.text"
                    ng-keypress="todo.submit($event)"
                    cols="25"
                    rows="8"></textarea>
            </div>
            <p ng-click="todo.edit()" ng-hide="todo.isEditing" ng-bind-html="todo.html"></p>
        </div>
    </div>
    <div class="clearfix">
        <div class="todo-files pull-left">
            <small ng-show="!!todo.files.length">Attachments:</small>
            <nice-file-view
                ng-repeat="file in todo.files track by file.path"
                type="file.type"
                name="file.name"
                path="file.path"
                on-remove="todo.removeFile"></nice-file-view>
        </div>
    </div>
</div>