<form class="file-uploader-form" method="{{ vm.method }}" action="{{ vm.url }}" enctype="multipart/form-data">
    <button type="button" class="btn btn-md btn-default btn-attach">
        <span class="glyphicon glyphicon-paperclip"></span>
        <input name="{{ vm.name }}" ng-model="vm.fileInputValue" ng-change="vm.onFilesUpdate()" type="file" multiple>
    </button>
    <button ng-show="!!vm.filesToUpload" type="button" ng-click="vm.submit()" class="btn btn-md btn-success">
        <span class="glyphicon glyphicon-ok"></span>
        Upload
    </button>
    <span ng-show="!!vm.filesToUpload">Files to upload: {{ vm.filesToUpload }}</span>
    <span ng-show="vm.isLoading">Loading...</span>
</form>