<form class="form-main form-inline" ng-submit="vm.create()">
    <div class="form-group">
        <input
            type="text"
            ng-model="vm.currentText"
            class="form-control"
            autofocus
            placeholdeer="e.g. Wash dishes">
        <button role="createTodo" class="btn btn-default btn-md">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
</form>
<button
    role="deleteAll"
    type="button"
    class="btn btn-sm btn-danger pull-right"
    ng-click="vm.deleteAll()"
    ng-hide="vm.isEmpty()">
    <span class="glyphicon glyphicon-remove"></span>
    Delete all
</button>
<ul class="nav nav-tabs todo-tabs">
    <li class="{{ vm.displayMode === 'all' && 'active' }}" role="showAll" ng-click="vm.showAll()">
        <a href="#">All</a>
    </li>
    <li ng-class="vm.displayMode === 'complete' && 'active'" role="showComplete" ng-click="vm.showComplete()">
        <a href="#">Complete</a>
    </li>
    <li ng-class="vm.displayMode === 'incomplete' && 'active'" role="showIncomplete"ng-click="vm.showIncomplete()">
        <a href="#">Incomplete</a>
    </li>
</ul>
<div class="text-center">
    <small ng-hide="vm.isBootstrapped">Loading...</small><small ng-show="vm.isBootstrappedAndEmpty()" ng-bind="vm.getEmptyText()"></small>
</div>
<div class="todo-items">
    <div class="todo-item" ng-repeat="todo in vm.todos | filter:vm.isTodoVisible track by todo.id" ng-class="vm.getCssFor(todo)">
        <span ng-class="todo.complete ? 'complete' : 'incomplete'">{{ todo.text }}</span>
        <div class="pull-right todo-actions">
            <nice-file-uploader
                on-upload="vm.onTodoFilesUpload"
                name="todo-files"
                url="todo.api.fileUpload"
                method="post"></nice-file-uploader>
            <button title="Mark complete" role="toggleTodo" class="btn btn-sm" ng-class="'btn-' + (todo.complete ? 'success' : 'default')" ng-click="vm.toggleComplete(todo)">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button title="Delete" role="deleteTodo" class="btn btn-sm btn-danger" ng-click="vm.deleteOne(todo)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <div class="clearfix">
            <div class="todo-files pull-left">
                <small ng-show="!!todo.files.length">Attachments:</small>
                <nice-file-view
                    ng-repeat="file in todo.files"
                    type="file.type"
                    name="file.name"
                    path="file.path"></nice-file-view>
            </div>
        </div>
    </div>
</div>