@import 'boilerplate.less';

.todo-item {
	margin-top: 5px;
	.clearfix;

	&:first-child {
		margin-top: 0;
	}

	&.complete {
		background-color: #FFF3C3;
	}

	.btn-remove-todo {
		float: right;
	}

	&.ng-leave,
	&.ng-enter {
		.animated;
	}

	&.ng-leave-active {
		.bounceOutRight;
	}
	&.ng-enter-active {
		.bounceInLeft;
	}
}

.empty-list-title {
	&.ng-hide-remove,
	&.ng-hide-add,
	&.ng-leave {
		.animated;
	}

	&.ng-hide-add-active {
		.bounceOutRight;
	}

	&.ng-hide-remove-active {
		.bounceInLeft;
	}
}

.actions {
	margin-top: 5px;

	.btn {
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}
	}
}