@import "bootstrap.less";
@import "../../vendor/animate.less/animate.less";
@import 'directives.less';

.borderRadius(@data) {
	border-radius: @data;
	-webkit-border-radius: @data;
	-moz-border-radius: @data;
}

.todo-items {
	margin-top: 10px;
}

.todo-item {
	margin-top: 5px;
	padding: 10px;
	.clearfix;
	.borderRadius(3px);

	&:first-child {
		margin-top: 0;
	}

	&.complete {
		background-color: #FFF3C3;
	}

	&.incomplete {
	}

	&.ng-leave,
	&.ng-enter {
		.animated;
	}

	&.ng-leave-active {
		.bounceOutRight;
	}
	&.ng-enter-active {
		.bounceInLeft;
	}

	nice-file-uploader {
		display: inline-block;
	}

	.todo-files {
		margin-top: 10px;

		.uploaded-image {
			height: 40px;
		}

		.file {
			margin-top: 5px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.empty-list-title {
	&.ng-hide-remove,
	&.ng-hide-add,
	&.ng-leave {
		.animated;
	}

	&.ng-hide-add-active {
		.bounceOutRight;
	}

	&.ng-hide-remove-active {
		.bounceInLeft;
	}
}

.actions {
	.btn {
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.file-uploader-form {
	display: inline-block;

	input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: 0;
	}

	.btn-attach {
		overflow: hidden;
		position: relative;
	}
}

.auth-form {
	width: 250px;
}