@import 'boilerplate.less';

.borderRadius(@data) {
	border-radius: @data;
	-webkit-border-radius: @data;
	-moz-border-radius: @data;
}

.todo-item {
	margin-top: 5px;
	padding: 10px 15px;
	.clearfix;
	.borderRadius(3px);

	&:first-child {
		margin-top: 0;
	}

	&.complete {
		background-color: #FFF3C3;
	}

	&.incomplete {
	}

	&.ng-leave,
	&.ng-enter {
		.animated;
	}

	&.ng-leave-active {
		.bounceOutRight;
	}
	&.ng-enter-active {
		.bounceInLeft;
	}
}

.empty-list-title {
	&.ng-hide-remove,
	&.ng-hide-add,
	&.ng-leave {
		.animated;
	}

	&.ng-hide-add-active {
		.bounceOutRight;
	}

	&.ng-hide-remove-active {
		.bounceInLeft;
	}
}

.actions {
	margin-top: 5px;

	.btn {
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}
	}
}