<!DOCTYPE html>
<html>
<head>
	<title>Todos</title>
	<script src="build/src/vendor.js"></script>
	<link rel="stylesheet" href="build/src/vendor.css">
	<link rel="stylesheet" href="build/src/app.css">
</head>
<body ng-cloak>
	<div class="container">
		<h1>Todo List</h1>
		<div ng-controller="TodoListController as todoApp">
			<form class="form-inline" ng-submit="todoApp.create()">
				<div class="form-group">
					<input class="form-control" autofocus type="text" ng-model="todoApp.currentText" />
					<button class="btn btn-primary btn-md">Submit</button>
				</div>
			</form>
			<div class="actions form-group">
				<button type="button" class="btn btn-sm" role="{{ tab.action }}" ng-repeat="tab in todoApp.tabs" ng-class="'btn-' + tab.type" ng-click="todoApp[tab.method]()">{{ tab.text }}</button>
			</div>
			<h4 class="empty-list-title" ng-show="todoApp.isTodoListEmpty()" ng-bind="todoApp.getEmptyText()"></h4>
			<div class="todo-item" ng-repeat="todo in todoApp.todos | filter:todoApp.isTodoVisible track by todo.id" ng-class="todoApp.getItemClassesFor(todo)">
				<span ng-class="todo.complete ? 'complete' : 'incomplete'">{{ todo.text }}</span>
				<div class="pull-right todo-actions">
					<button role="attach" disabled class="btn btn-md btn-default">
						<span class="glyphicon glyphicon-paperclip"></span>
					</button>
					<button role="toggle" class="btn btn-md" ng-class="'btn-' + (todo.complete ? 'success' : 'default')" ng-click="todoApp.toggleComplete(todo)">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					<button role="remove" class="btn btn-md btn-danger" ng-click="todoApp.remove(todo.id)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="build/src/app.js"></script>
</body>
</html>